version: 2

jobs:
  build:
    machine:
      docker_layer_caching: true
    steps:
      - checkout

      - run:
          name: Run tests
          command: |
            make test

workflows:
  version: 2
  build:
    triggers:
      - schedule:
          cron: "0 0 * * 0" # Every week
          filters:
            branches:
              only:
                - master
    jobs:
      - build
